<section class="{{cssClass}} scrollable altair-sheet" autocomplete="off">

    <!-- Header with image and name -->
    <header class="sheet-header flexrow">
        <img src="{{actor.img}}" data-edit="img" data-action="editImage" alt="{{actor.name}}" title="{{actor.name}}"
            height="64" width="64" />
        <h1>
            <label for="actor-name" class="sr-only">{{ localize 'Name' }}</label>
            <input id="actor-name" name="name" type="text" style="font-size: x-large" value="{{actor.name}}"
                placeholder="{{ localize 'Name' }}" />
        </h1>
    </header>

    <!-- First row of stats -->
    <div id="altair-level-title" class="flexbox">
        <div class="flexcol">
            <div class="form-group">
                <label for="level">{{localize "altair.characterInfo.level"}}</label>
                <input id="level" name="system.level" type="number" data-dtype="Number" value="{{system.level}}">
            </div>

            <div class="form-group">
                <label for="title">{{localize "altair.characterInfo.title"}}</label>
                <input id="title" name="system.title" type="text" value="{{system.title}}"
                    placeholder="{{ localize 'Title' }}" />
            </div>
            <section class="flexrow">
                <label for="roleType">{{localize "altair.characterInfo.roleType"}}</label>
                <select id="roleType" name="system.roleType">
                    {{selectOptions enemyRoles selected=system.roleType localize=true}}
                </select>
            </section>
        </div>
    </div>

    <div class="extra-container">
        <div class="extra-container flexrow">
            <div class="form-group">

                <div class="container">
                    <label for="defeatExperience">{{localize "altair.characterInfo.defeatExperience"}}</label>
                    <input id="defeatExperience" name="system.defeatExperience" type="number" data-dtype="Number"
                        style="width: 5em;" value="{{system.defeatExperience}}">
                </div>
            </div>
            <div class="form-group">

                <div class="container">
                    <label for="money">{{localize "altair.characterInfo.money"}}</label>
                    <input id="money" name="system.money" type="number" data-dtype="Number" style="width: 5em;"
                        value="{{system.money}}">
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="container-divider">
        <div class="outer-container"> <!-- divider for the main resources and non-main resources -->
            <div id="altair-main-resources" class="outer-container"> <!--- divider for hsf/dp -->
                <section class="flexbox altair-resources">
                    <h4>{{localize "altair.general.battleResources"}}</h4>
                    <div class="flexbox">
                        <label>{{localize "altair.characterInfo.health"}}</label>
                        <div class="form-group">
                            <input name="system.health.value" type="number" data-dtype="Number"
                                value="{{system.health.value}}" style="width: 3em;">

                            <input name="system.health.max" type="number" data-dtype="Number"
                                value="{{system.health.max}}" style="width: 3em;">
                        </div>

                        <label for="healthRegen">{{localize "altair.characterInfo.healthRegen"}}</label>
                        <div class="form-group">
                            <input id="healthRegen" name="system.healthRegen" type="number" data-dtype="Number"
                                value="{{system.healthRegen}}" style="width: 3em;">
                        </div>
                    </div>
                    <br>

                    <div class="flexbox">
                        <label>{{localize "altair.characterInfo.break"}}</label>
                        <div class="form-group">
                            <input name="system.break.value" type="number" data-dtype="Number"
                                value="{{system.break.value}}" style="width: 3em;">

                            <input name="system.break.max" type="number" data-dtype="Number"
                                value="{{system.break.max}}" style="width: 3em;">
                        </div>

                        <label for="bleed">{{localize "altair.characterInfo.bleed"}}</label>
                        <div class="form-group">
                            <input id="bleed" name="system.bleed" type="number" data-dtype="Number"
                                value="{{system.bleed}}" style="width: 3em;">
                        </div>
                    </div>
                    <br>

                    <div class="flexbox">
                        <label>{{localize "altair.characterInfo.burst"}}</label>
                        <div class="form-group">
                            <input name="system.burst.value" type="number" data-dtype="Number"
                                value="{{system.burst.value}}" style="width: 3em;">

                            <input name="system.burst.max" type="number" data-dtype="Number"
                                value="{{system.burst.max}}" style="width: 3em;">
                        </div>

                        <label for="drain">{{localize "altair.characterInfo.drain"}}</label>
                        <div class="form-group">
                            <input id="drain" name="system.drain" type="number" data-dtype="Number"
                                value="{{system.drain}}" style="width: 3em;">
                        </div>
                    </div>

                </section>



                <div class="outer-container flexrow"> <!-- shield, drive, and purity -->

                    <section class="flexbox">

                        <label>{{localize "altair.characterInfo.shield"}}</label>
                        <div class="form-group">
                            <input name="system.shield.value" type="number" data-dtype="Number"
                                value="{{system.shield.value}}" style="width: 3em;">
                            <input name="system.shield.max" type="number" data-dtype="Number"
                                value="{{system.shield.max}}" style="width: 3em;">
                        </div><br>



                        <label>{{localize "altair.characterInfo.health2"}}</label>
                        <div class="form-group">
                            <input name="system.health2.value" type="number" data-dtype="Number"
                                value="{{system.health2.value}}" style="width: 3em;">
                            <input name="system.health2.max" type="number" data-dtype="Number"
                                value="{{system.health2.max}}" style="width: 3em;">
                        </div><br>


                        <label>{{localize "altair.characterInfo.health3"}}</label>
                        <div class="form-group">
                            <input name="system.health3.value" type="number" data-dtype="Number"
                                value="{{system.health3.value}}" style="width: 3em;">
                            <input name="system.health3.max" type="number" data-dtype="Number"
                                value="{{system.health3.max}}" style="width: 3em;">
                        </div><br>


                        <label>{{localize "altair.characterInfo.health4"}}</label>
                        <div class="form-group">
                            <input name="system.health4.value" type="number" data-dtype="Number"
                                value="{{system.health4.value}}" style="width: 3em;">
                            <input name="system.health4.max" type="number" data-dtype="Number"
                                value="{{system.health4.max}}" style="width: 3em;">
                        </div><br>


                        <label>{{localize "altair.characterInfo.health5"}}</label>
                        <div class="form-group">
                            <input name="system.health5.value" type="number" data-dtype="Number"
                                value="{{system.health5.value}}" style="width: 3em;">
                            <input name="system.health5.max" type="number" data-dtype="Number"
                                value="{{system.health5.max}}" style="width: 3em;">
                        </div>
                    </section>


                </div>

            </div>


            <section id="altair-static-resources" class="outer-container">
                <div class="outer-container flexrow"> <!--- divider for resources and non-resources -->

                    <section class="flexbox">
                        <h4>{{localize "altair.general.staticResources"}}</h4>
                        <label for="standardArmor">{{localize "altair.characterInfo.standardArmor"}}</label>
                        <div class="form-group">
                            <input id="standardArmor" name="system.standardArmor" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.standardArmor}}">
                        </div><br>
                        <label for="prismaticArmor">{{localize "altair.characterInfo.prismaticArmor"}}</label>
                        <div class="form-group">
                            <input id="prismaticArmor" name="system.prismaticArmor" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.prismaticArmor}}">
                        </div><br>
                        <label for="abnormalArmor">{{localize "altair.characterInfo.abnormalArmor"}}</label>
                        <div class="form-group">
                            <input id="abnormalArmor" name="system.abnormalArmor" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.abnormalArmor}}">
                        </div><br>
                        <label for="toughness">{{localize "altair.characterInfo.toughness"}}</label>
                        <div class="form-group">
                            <input id="toughness" name="system.toughness" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.toughness}}">
                        </div><br>


                        <label for="guardType">{{localize "altair.characterInfo.guardType"}}</label>
                        <select id="guardType" name="system.guardType">
                            {{selectOptions enemyGuards selected=system.guardType localize=true}}
                        </select><br><br>
                        <label for="shieldType">{{localize "altair.characterInfo.shieldType"}}</label>
                        <select id="shieldType" name="system.shieldType">
                            {{selectOptions enemyShields selected=system.shieldType localize=true}}
                        </select>

                    </section>
                </div>
                <div class="outer-container flexrow">
                    <section class="flexbox">
                        <label for="armorIgnore">{{localize "altair.characterInfo.armorIgnore"}}</label>
                        <div class="form-group">
                            <input id="armorIgnore" name="system.armorIgnore" type="text" style="width: 3em;"
                                value="{{system.armorIgnore}}">
                        </div><br>

                        <label for="criticalChance">{{localize "altair.characterInfo.criticalChance"}}</label>
                        <div class="form-group">
                            <input id="criticalChance" name="system.criticalChance" type="text" style="width: 3em;"
                                value="{{system.criticalChance}}">
                        </div><br>

                        <label for="criticalDamage">{{localize "altair.characterInfo.criticalDamage"}}</label>
                        <div class="form-group">
                            <input id="criticalDamage" name="system.criticalDamage" type="text" style="width: 3em;"
                                value="{{system.criticalDamage}}">
                        </div><br>

                        <label for="movement">{{localize "altair.characterInfo.movement"}}</label>
                        <div class="form-group">
                            <input id="movement" name="system.movement" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.movement}}">
                        </div><br>

                        <label for="speed">{{localize "altair.characterInfo.speed"}}</label>
                        <div class="form-group">
                            <input id="speed" name="system.speed" type="number" data-dtype="Number" style="width: 3em;"
                                value="{{system.speed}}">
                        </div>
                    </section>

                </div>
            </section>
        </div>
    </div>
    <br>
    <h2>{{localize "altair.general.affinities"}}</h2>
    <div id="affinity-container-divider">
        <div class="affinity-bottom-container">
            <div class="affinity-bottom-inner-container flexrow">
                <div class="affinity-inner-container">
                    <label for="element">{{localize "altair.characterInfo.element"}}</label><br>
                    <multi-select class="choice-selector" id="element" name="system.element">
                        {{selectOptions enemyElements selected=system.element localize=true}}
                    </multi-select>
                </div>

                <div class="affinity-inner-container">
                    <label for="species">{{localize "altair.characterInfo.species"}}</label><br>
                    <multi-select class="choice-selector" id="species" name="system.species">
                        {{selectOptions enemySpecies selected=system.species localize=true}}
                    </multi-select>
                </div>
            </div>
            <div class="affinity-bottom-inner-container flexrow">
                <div class="affinity-inner-container">
                    <label for="semiResistance">{{localize "altair.characterInfo.semiResistance"}}</label><br>
                    <multi-select class="choice-selector" id="semiResistance" name="system.semiResistance">
                        {{selectOptions enemyAffinities selected=system.semiResistance localize=true}}
                    </multi-select>
                </div>

                <div class="affinity-inner-container">
                    <label for="resistance">{{localize "altair.characterInfo.resistance"}}</label><br>
                    <multi-select class="choice-selector" id="resistance" name="system.resistance">
                        {{selectOptions enemyAffinities selected=system.resistance localize=true}}
                    </multi-select>
                </div>

            </div>
            <div class="affinity-inner-container flexrow">
                <div class="affinity-inner-container">
                    <label for="semiWeakness">{{localize "altair.characterInfo.semiWeakness"}}</label><br>
                    <multi-select class="choice-selector" id="semiWeakness" name="system.semiWeakness">
                        {{selectOptions enemyAffinities selected=system.semiWeakness localize=true}}
                    </multi-select>
                </div>

                <div class="affinity-inner-container">
                    <label for="weakness">{{localize "altair.characterInfo.weakness"}}</label><br>
                    <multi-select class="choice-selector" id="weakness" name="system.weakness">
                        {{selectOptions enemyAffinities selected=system.weakness localize=true}}
                    </multi-select>
                </div>

            </div>

        </div>

    </div>

    <section class="two-column-wrap-enemy">
        <!-- Skill Section -->
        <section class="altair-skill-type outer-container">
            <h2>{{localize "altair.general.skills"}}</h2>
            <table class="reserve-skills-table">
                <!-- for width -->
                <colgroup>
                    <col class="col-skillName" />
                    <col class="col-skillDuration" />
                    <col class="col-skillIsReaved" />
                    <col class="col-skillOnCooldown" />
                </colgroup>
                <thead>
                    <tr>
                        <th>{{localize "altair.general.skillName"}}</th>
                        <th>{{localize "altair.general.enemyCooldown"}}</th>
                        <th>{{localize "altair.general.isReaved"}}</th>
                        <th>{{localize "altair.general.onCooldown"}}</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Skill #1 -->
                    <tr>
                        <td>
                            <input name="system.skillEnemy.skill1.skillName" type="text"
                                value="{{system.skillEnemy.skill1.skillName}}">
                        </td>
                        <td style="text-align: center;">
                            <section class="form-group">
                                <div class="container">
                                    <input name="system.skillEnemy.skill1.skillCooldown.value" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill1.skillCooldown.value}}">
                                    <span class="separator">/</span>
                                    <input name="system.skillEnemy.skill1.skillCooldown.max" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill1.skillCooldown.max}}">
                                </div>
                            </section>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill1.isReaved" type="checkbox" {{checked
                                system.skillEnemy.skill1.isReaved}}>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill1.onCooldown" type="checkbox" {{checked
                                system.skillEnemy.skill1.onCooldown}}>
                        </td>
                    </tr>
                    <!-- Skill #2 -->
                    <tr>
                        <td>
                            <input name="system.skillEnemy.skill2.skillName" type="text"
                                value="{{system.skillEnemy.skill2.skillName}}">
                        </td>
                        <td style="text-align: center;">
                            <section class="form-group">
                                <div class="container">
                                    <input name="system.skillEnemy.skill2.skillCooldown.value" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill2.skillCooldown.value}}">
                                    <span class="separator">/</span>
                                    <input name="system.skillEnemy.skill2.skillCooldown.max" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill2.skillCooldown.max}}">
                                </div>
                            </section>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill2.isReaved" type="checkbox" {{checked
                                system.skillEnemy.skill2.isReaved}}>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill2.onCooldown" type="checkbox" {{checked
                                system.skillEnemy.skill2.onCooldown}}>
                        </td>
                    </tr>
                    <!-- Skill #3 -->
                    <tr>
                        <td>
                            <input name="system.skillEnemy.skill3.skillName" type="text"
                                value="{{system.skillEnemy.skill3.skillName}}">
                        </td>
                        <td style="text-align: center;">
                            <section class="form-group">
                                <div class="container">
                                    <input name="system.skillEnemy.skill3.skillCooldown.value" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill3.skillCooldown.value}}">
                                    <span class="separator">/</span>
                                    <input name="system.skillEnemy.skill3.skillCooldown.max" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill3.skillCooldown.max}}">
                                </div>
                            </section>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill3.isReaved" type="checkbox" {{checked
                                system.skillEnemy.skill3.isReaved}}>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill3.onCooldown" type="checkbox" {{checked
                                system.skillEnemy.skill3.onCooldown}}>
                        </td>
                    </tr>
                    <!-- Skill #4 -->
                    <tr>
                        <td>
                            <input name="system.skillEnemy.skill4.skillName" type="text"
                                value="{{system.skillEnemy.skill4.skillName}}">
                        </td>
                        <td style="text-align: center;">
                            <section class="form-group">
                                <div class="container">
                                    <input name="system.skillEnemy.skill4.skillCooldown.value" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill4.skillCooldown.value}}">
                                    <span class="separator">/</span>
                                    <input name="system.skillEnemy.skill4.skillCooldown.max" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill4.skillCooldown.max}}">
                                </div>
                            </section>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill4.isReaved" type="checkbox" {{checked
                                system.skillEnemy.skill4.isReaved}}>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill4.onCooldown" type="checkbox" {{checked
                                system.skillEnemy.skill4.onCooldown}}>
                        </td>
                    </tr>
                    <!-- Skill #5 -->
                    <tr>
                        <td>
                            <input name="system.skillEnemy.skill5.skillName" type="text"
                                value="{{system.skillEnemy.skill5.skillName}}">
                        </td>
                        <td style="text-align: center;">
                            <section class="form-group">
                                <div class="container">
                                    <input name="system.skillEnemy.skill5.skillCooldown.value" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill5.skillCooldown.value}}">
                                    <span class="separator">/</span>
                                    <input name="system.skillEnemy.skill5.skillCooldown.max" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.skill5.skillCooldown.max}}">
                                </div>
                            </section>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill5.isReaved" type="checkbox" {{checked
                                system.skillEnemy.skill5.isReaved}}>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.skill5.onCooldown" type="checkbox" {{checked
                                system.skillEnemy.skill5.onCooldown}}>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <!-- Heavy Attack Section -->
        <section class="altair-skill-type outer-container">
            <h2>{{localize "altair.general.heavyAttacks"}}</h2>
            <table class="reserve-skills-table">
                <!-- for width -->
                <colgroup>
                    <col class="col-heavyName" />
                    <col class="col-heavyDuration" />
                    <col class="col-heavyBeingPrepared" />
                    <col class="col-heavyIsReaved" />
                    <col class="col-heavyOnCooldown" />
                </colgroup>
                <thead>
                    <tr>
                        <th>{{localize "altair.general.skillName"}}</th>
                        <th>{{localize "altair.general.enemyCooldown"}}</th>
                        <th>{{localize "altair.general.beingPrepared"}}</th>
                        <th>{{localize "altair.general.isReaved"}}</th>
                        <th>{{localize "altair.general.onCooldown"}}</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Heavy #1 -->
                    <tr>
                        <td>
                            <input name="system.skillEnemy.heavy1.skillName" type="text"
                                value="{{system.skillEnemy.heavy1.skillName}}">
                        </td>
                        <td style="text-align: center;">
                            <section class="form-group">
                                <div class="container">
                                    <input name="system.skillEnemy.heavy1.skillCooldown.value" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.heavy1.skillCooldown.value}}">
                                    <span class="separator">/</span>
                                    <input name="system.skillEnemy.heavy1.skillCooldown.max" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.heavy1.skillCooldown.max}}">
                                </div>
                            </section>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.heavy1.beingPrepared" type="checkbox" {{checked
                                system.skillEnemy.heavy1.beingPrepared}}>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.heavy1.isReaved" type="checkbox" {{checked
                                system.skillEnemy.heavy1.isReaved}}>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.heavy1.onCooldown" type="checkbox" {{checked
                                system.skillEnemy.heavy1.onCooldown}}>
                        </td>
                    </tr>
                    <!-- Heavy #2 -->
                    <tr>
                        <td>
                            <input name="system.skillEnemy.heavy2.skillName" type="text"
                                value="{{system.skillEnemy.heavy2.skillName}}">
                        </td>
                        <td style="text-align: center;">
                            <section class="form-group">
                                <div class="container">
                                    <input name="system.skillEnemy.heavy2.skillCooldown.value" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.heavy2.skillCooldown.value}}">
                                    <span class="separator">/</span>
                                    <input name="system.skillEnemy.heavy2.skillCooldown.max" type="number"
                                        data-dtype="Number" style="width: 2em;"
                                        value="{{system.skillEnemy.heavy2.skillCooldown.max}}">
                                </div>
                            </section>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.heavy2.beingPrepared" type="checkbox" {{checked
                                system.skillEnemy.heavy2.beingPrepared}}>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.heavy2.isReaved" type="checkbox" {{checked
                                system.skillEnemy.heavy2.isReaved}}>
                        </td>
                        <td style="text-align: center;">
                            <input name="system.skillEnemy.heavy2.onCooldown" type="checkbox" {{checked
                                system.skillEnemy.heavy2.onCooldown}}>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
    <br>

    <!-- we never really used this lol -->
    <label for="bio">{{localize "altair.characterInfo.bio"}}</label>
    <section class="form-group altair-bio">
        <textarea id="bio" name="system.bio">{{system.bio}}</textarea>
    </section>

</section>