<section class="{{cssClass}} scrollable altair-sheet" autocomplete="off">

    <!-- Header with image and name -->
    <header class="sheet-header flexrow">
        <img src="{{actor.img}}" data-edit="img" data-action="editImage" alt="{{actor.name}}" title="{{actor.name}}"
            height="64" width="64" />
        <h1>
            <label for="actor-name" class="sr-only">{{ localize 'Name' }}</label>
            <input id="actor-name" name="name" type="text" style="font-size: x-large" value="{{actor.name}}"
                placeholder="{{ localize 'Name' }}" />
        </h1>
    </header>

    <!-- First row of stats -->
    <div id="altair-level-title" class="flexbox">
        <div class="flexcol">
            <div class="form-group">
                <label for="level">{{localize "altair.characterInfo.level"}}</label>
                <input id="level" name="system.level" type="number" data-dtype="Number" value="{{system.level}}">
            </div>

            <div class="form-group">
                <label for="title">{{localize "altair.characterInfo.title"}}</label>
                <input id="title" name="system.title" type="text" value="{{system.title}}"
                    placeholder="{{ localize 'Title' }}" />
            </div>
            <section class="flexrow">
                <label for="roleType">{{localize "altair.characterInfo.roleType"}}</label>
                <select id="roleType" name="system.roleType">
                    {{selectOptions playerRoles selected=system.roleType localize=true}}
                </select>
            </section>
        </div>
    </div>
    <br>
    <div class="extra-container">
        <div class="extra-container flexrow">
            <div class="form-group">

                <div class="container">
                    <label>{{localize "altair.characterInfo.experience"}}</label>
                    <input name="system.experience.value" type="number" data-dtype="Number"
                        value="{{system.experience.value}}" style="width: 4em;">
                    <span class="separator">/</span>
                    <input name="system.experience.max" type="number" data-dtype="Number"
                        value="{{system.experience.max}}" style="width: 4em;">
                </div>
            </div>
            <div class="form-group">

                <div class="container">
                    <label for="lifetimeExperience">{{localize "altair.characterInfo.lifetimeExperience"}}</label>
                    <input id="lifetimeExperience" name="system.lifetimeExperience" type="number" data-dtype="Number"
                        style="width: 5em;" value="{{system.lifetimeExperience}}">
                </div>
            </div>
            <div class="form-group">

                <div class="container">
                    <label for="money">{{localize "altair.characterInfo.money"}}</label>
                    <input id="money" name="system.money" type="number" data-dtype="Number" style="width: 5em;"
                        value="{{system.money}}">
                </div>
            </div>

        </div>
    </div>
    <br>
    <div class="container-divider">
        <div class="outer-container"> <!-- divider for the main resources and non-main resources -->
            <div id="altair-main-resources" class="outer-container"> <!--- divider for hsf/dp -->
                <section class="flexbox altair-resources">
                    <h4>{{localize "altair.general.battleResources"}}</h4>
                    <div class="flexbox">
                        <label>{{localize "altair.characterInfo.health"}}</label>
                        <div class="form-group">
                            <input name="system.health.value" type="number" data-dtype="Number"
                                value="{{system.health.value}}" style="width: 3em;">

                            <input name="system.health.max" type="number" data-dtype="Number"
                                value="{{system.health.max}}" style="width: 3em;">
                        </div>

                        <label for="healthRegen">{{localize "altair.characterInfo.healthRegen"}}</label>
                        <div class="form-group">
                            <input id="healthRegen" name="system.healthRegen" type="number" data-dtype="Number"
                                value="{{system.healthRegen}}" style="width: 3em;">
                        </div>
                    </div>
                    <br>

                    <div class="flexbox">
                        <label>{{localize "altair.characterInfo.stamina"}}</label>
                        <div class="form-group">
                            <input name="system.stamina.value" type="number" data-dtype="Number"
                                value="{{system.stamina.value}}" style="width: 3em;">

                            <input name="system.stamina.max" type="number" data-dtype="Number"
                                value="{{system.stamina.max}}" style="width: 3em;">
                        </div>

                        <label for="staminaRegen">{{localize "altair.characterInfo.staminaRegen"}}</label>
                        <div class="form-group">
                            <input id="staminaRegen" name="system.staminaRegen" type="number" data-dtype="Number"
                                value="{{system.staminaRegen}}" style="width: 3em;">
                        </div>
                    </div>
                    <br>

                    <div class="flexbox">
                        <label>{{localize "altair.characterInfo.focus"}}</label>
                        <div class="form-group">
                            <input name="system.focus.value" type="number" data-dtype="Number"
                                value="{{system.focus.value}}" style="width: 3em;">

                            <input name="system.focus.max" type="number" data-dtype="Number"
                                value="{{system.focus.max}}" style="width: 3em;">
                        </div>

                        <label for="focusRegen">{{localize "altair.characterInfo.focusRegen"}}</label>
                        <div class="form-group">
                            <input id="focusRegen" name="system.focusRegen" type="number" data-dtype="Number"
                                value="{{system.focusRegen}}" style="width: 3em;">
                        </div>
                    </div>

                </section>



                <div class="outer-container flexrow altair-secondary-resources"> <!-- shield, drive, and purity -->

                    <section class="flexbox">

                        <label>{{localize "altair.characterInfo.shield"}}</label>
                        <div class="form-group">
                            <input name="system.shield.value" type="number" data-dtype="Number"
                                value="{{system.shield.value}}" style="width: 3em;">
                            <input name="system.shield.max" type="number" data-dtype="Number"
                                value="{{system.shield.max}}" style="width: 3em;">
                        </div><br>



                        <label>{{localize "altair.characterInfo.drive"}}</label>
                        <div class="form-group">
                            <input name="system.drive.value" type="number" data-dtype="Number"
                                value="{{system.drive.value}}" style="width: 3em;">
                            <input name="system.drive.max" type="number" data-dtype="Number"
                                value="{{system.drive.max}}" style="width: 3em;">
                        </div><br>


                        <label>{{localize "altair.characterInfo.purity"}}</label>
                        <div class="form-group">
                            <input name="system.purity.value" type="number" data-dtype="Number"
                                value="{{system.purity.value}}" style="width: 3em;">
                            <input name="system.purity.max" type="number" data-dtype="Number"
                                value="{{system.purity.max}}" style="width: 3em;">
                        </div>
                    </section>


                </div>

            </div>


            <section id="altair-static-resources" class="outer-container">
                <div class="outer-container flexrow"> <!--- divider for resources and non-resources -->
                    <section class="flexbox">
                        <h4>{{localize "altair.general.staticResources"}}</h4>
                        <label for="standardArmor">{{localize "altair.characterInfo.standardArmor"}}</label>
                        <div class="form-group">
                            <input id="standardArmor" name="system.standardArmor" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.standardArmor}}">
                        </div><br>
                        <label for="prismaticArmor">{{localize "altair.characterInfo.prismaticArmor"}}</label>
                        <div class="form-group">
                            <input id="prismaticArmor" name="system.prismaticArmor" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.prismaticArmor}}">
                        </div><br>
                        <label for="abnormalArmor">{{localize "altair.characterInfo.abnormalArmor"}}</label>
                        <div class="form-group">
                            <input id="abnormalArmor" name="system.abnormalArmor" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.abnormalArmor}}">
                        </div><br>
                        <label for="toughness">{{localize "altair.characterInfo.toughness"}}</label>
                        <div class="form-group">
                            <input id="toughness" name="system.toughness" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.toughness}}">
                        </div><br>


                        <label for="guardType">{{localize "altair.characterInfo.guardType"}}</label>
                        <select id="guardType" name="system.guardType">
                            {{selectOptions playerGuards selected=system.guardType localize=true}}
                        </select><br><br>
                        <label for="shieldType">{{localize "altair.characterInfo.shieldType"}}</label>
                        <select id="shieldType" name="system.shieldType">
                            {{selectOptions playerShields selected=system.shieldType localize=true}}
                        </select>

                    </section>
                </div>
                <div class="outer-container flexrow">
                    <section class="flexbox">
                        <label for="armorIgnore">{{localize "altair.characterInfo.armorIgnore"}}</label>
                        <div class="form-group">
                            <input id="armorIgnore" name="system.armorIgnore" type="text" style="width: 3em;"
                                value="{{system.armorIgnore}}">
                        </div><br>

                        <label for="criticalChance">{{localize "altair.characterInfo.criticalChance"}}</label>
                        <div class="form-group">
                            <input id="criticalChance" name="system.criticalChance" type="text" style="width: 3em;"
                                value="{{system.criticalChance}}">
                        </div><br>

                        <label for="criticalDamage">{{localize "altair.characterInfo.criticalDamage"}}</label>
                        <div class="form-group">
                            <input id="criticalDamage" name="system.criticalDamage" type="text" style="width: 3em;"
                                value="{{system.criticalDamage}}">
                        </div><br>

                        <label for="speed">{{localize "altair.characterInfo.speed"}}</label>
                        <div class="form-group">
                            <input id="speed" name="system.speed" type="number" data-dtype="Number"
                                style="width: 3em;" value="{{system.speed}}">
                        </div><br>

                        <label for="movement">{{localize "altair.characterInfo.movement"}}</label>
                        <div class="form-group">
                            <input id="movement" name="system.movement" type="number" data-dtype="Number" style="width: 3em;"
                                value="{{system.movement}}">
                        </div>
                    </section>

                </div>
            </section>
        </div>
    </div>
    <br>
    <h2>{{localize "altair.general.affinities"}}</h2>
    <div id="affinity-container-divider">
        <div class="affinity-bottom-container">
            <div class="affinity-bottom-inner-container flexrow">
                <div class="affinity-inner-container">
                    <label for="element">{{localize "altair.characterInfo.element"}}</label><br>
                    <multi-select class="choice-selector" id="element" name="system.element">
                        {{selectOptions playerElements selected=system.element localize=true}}
                    </multi-select>
                </div>

                <div class="affinity-inner-container">
                    <label for="species">{{localize "altair.characterInfo.species"}}</label><br>
                    <multi-select class="choice-selector" id="species" name="system.species">
                        {{selectOptions playerSpecies selected=system.species localize=true}}
                    </multi-select>
                </div>
            </div>
            <div class="affinity-bottom-inner-container flexrow">
                <div class="affinity-inner-container">
                    <label for="semiResistance">{{localize "altair.characterInfo.semiResistance"}}</label><br>
                    <multi-select class="choice-selector" id="semiResistance" name="system.semiResistance">
                        {{selectOptions playerAffinities selected=system.semiResistance localize=true}}
                    </multi-select>
                </div>

                <div class="affinity-inner-container">
                    <label for="resistance">{{localize "altair.characterInfo.resistance"}}</label><br>
                    <multi-select class="choice-selector" id="resistance" name="system.resistance">
                        {{selectOptions playerAffinities selected=system.resistance localize=true}}
                    </multi-select>
                </div>

            </div>
            <div class="affinity-inner-container flexrow">
                <div class="affinity-inner-container">
                    <label for="semiWeakness">{{localize "altair.characterInfo.semiWeakness"}}</label><br>
                    <multi-select class="choice-selector" id="semiWeakness" name="system.semiWeakness">
                        {{selectOptions playerAffinities selected=system.semiWeakness localize=true}}
                    </multi-select>
                </div>

                <div class="affinity-inner-container">
                    <label for="weakness">{{localize "altair.characterInfo.weakness"}}</label><br>
                    <multi-select class="choice-selector" id="weakness" name="system.weakness">
                        {{selectOptions playerAffinities selected=system.weakness localize=true}}
                    </multi-select>
                </div>

            </div>

        </div>


    </div>
    <br>

    <section class="two-column-wrap">
        <!-- Combat Art Section -->
        <section class="altair-skill-type outer-container">
            <h2>{{localize "altair.ammoCoatingArts.combatArts"}}</h2>
            <table class="reserve-skills-table">
                <!-- for width -->
                <colgroup>
                    <col class="col-combatArtsName" />
                    <col class="col-combatArtsEffect" />
                    <col class="col-combatArtsDuration" />
                    <col class="col-combatArtsOnCooldown" />
                </colgroup>
                <thead>
                    <tr>
                        <th>{{localize "altair.general.skillName"}}</th>
                        <th>{{localize "altair.general.effect"}}</th>
                        <th>{{localize "altair.general.roundCooldown"}}</th>
                        <th>{{localize "altair.general.onCooldown"}}</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Combat Art #1 -->
                    <tr>
                        <td>
                            <input name="system.combatArts.combatArt1.cArtName" type="text"
                                value="{{system.combatArts.combatArt1.cArtName}}">
                        </td>
                        <td>
                            <input name="system.combatArts.combatArt1.cArtEffect" type="text"
                                value="{{system.combatArts.combatArt1.cArtEffect}}">
                        </td>
                        <td>
                            <input name="system.combatArts.combatArt1.cArtCdownDuration" type="number"
                                data-dtype="Number" value="{{system.combatArts.combatArt1.cArtCdownDuration}}">
                        </td>
                        <td style="text-align: center;">
                            <input name="system.combatArts.combatArt1.cArtOnCooldown" type="checkbox" {{checked
                                system.combatArts.combatArt1.cArtOnCooldown}}>
                        </td>
                    </tr>
                    <!-- Combat Art #2 -->
                    <tr>
                        <td>
                            <input name="system.combatArts.combatArt2.cArtName" type="text"
                                value="{{system.combatArts.combatArt2.cArtName}}">
                        </td>
                        <td>
                            <input name="system.combatArts.combatArt2.cArtEffect" type="text"
                                value="{{system.combatArts.combatArt2.cArtEffect}}">
                        </td>
                        <td>
                            <input name="system.combatArts.combatArt2.cArtCdownDuration" type="number"
                                data-dtype="Number" value="{{system.combatArts.combatArt2.cArtCdownDuration}}">
                        </td>
                        <td style="text-align: center;">
                            <input name="system.combatArts.combatArt2.cArtOnCooldown" type="checkbox" {{checked
                                system.combatArts.combatArt2.cArtOnCooldown}}>
                        </td>
                    </tr>
                    <!-- Combat Art #3 -->
                    <tr>
                        <td>
                            <input name="system.combatArts.combatArt3.cArtName" type="text"
                                value="{{system.combatArts.combatArt3.cArtName}}">
                        </td>
                        <td>
                            <input name="system.combatArts.combatArt3.cArtEffect" type="text"
                                value="{{system.combatArts.combatArt3.cArtEffect}}">
                        </td>
                        <td>
                            <input name="system.combatArts.combatArt3.cArtCdownDuration" type="number"
                                data-dtype="Number" value="{{system.combatArts.combatArt3.cArtCdownDuration}}">
                        </td>
                        <td style="text-align: center;">
                            <input name="system.combatArts.combatArt3.cArtOnCooldown" type="checkbox" {{checked
                                system.combatArts.combatArt3.cArtOnCooldown}}>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <!-- Ammo/Coating Section -->
        <section class="altair-skill-type outer-container">
            <h2>{{localize "altair.ammoCoatingArts.ammoCoatings"}}</h2>
            <table class="reserve-skills-table">
                <!-- for width -->
                <colgroup>
                    <col class="col-ammoCoatingsName" />
                    <col class="col-ammoCoatingsEffect" />
                    <col class="col-ammoCoatingsStock" />
                </colgroup>
                <thead>
                    <tr>
                        <th>{{localize "altair.general.skillName"}}</th>
                        <th>{{localize "altair.general.effect"}}</th>
                        <th>{{localize "altair.ammoCoatingArts.ammoCoatingArtStock"}}</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Ammo/Coating #1 -->
                    <tr>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating1.ammoName" type="text"
                                value="{{system.ammoCoatings.ammoCoating1.ammoName}}">
                        </td>
                        <td>
                            <textarea class="altair-Effect-Desc"
                                name="system.ammoCoatings.ammoCoating1.ammoEffect">{{system.ammoCoatings.ammoCoating1.ammoEffect}}</textarea>
                        </td>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating1.ammoStock.value" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating1.ammoStock.value}}">
                            <input name="system.ammoCoatings.ammoCoating1.ammoStock.max" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating1.ammoStock.max}}">
                        </td>
                    </tr>
                    <!-- Ammo/Coating #2 -->
                    <tr>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating2.ammoName" type="text"
                                value="{{system.ammoCoatings.ammoCoating2.ammoName}}">
                        </td>
                        <td>
                            <textarea class="altair-Effect-Desc"
                                name="system.ammoCoatings.ammoCoating2.ammoEffect">{{system.ammoCoatings.ammoCoating2.ammoEffect}}</textarea>
                        </td>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating2.ammoStock.value" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating2.ammoStock.value}}">
                            <input name="system.ammoCoatings.ammoCoating2.ammoStock.max" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating2.ammoStock.max}}">
                        </td>
                    </tr>
                    <!-- Ammo/Coating #3 -->
                    <tr>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating3.ammoName" type="text"
                                value="{{system.ammoCoatings.ammoCoating3.ammoName}}">
                        </td>
                        <td>
                            <textarea class="altair-Effect-Desc"
                                name="system.ammoCoatings.ammoCoating3.ammoEffect">{{system.ammoCoatings.ammoCoating3.ammoEffect}}</textarea>
                        </td>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating3.ammoStock.value" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating3.ammoStock.value}}">
                            <input name="system.ammoCoatings.ammoCoating3.ammoStock.max" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating3.ammoStock.max}}">
                        </td>
                    </tr>
                    <!-- Ammo/Coating #4 -->
                    <tr>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating4.ammoName" type="text"
                                value="{{system.ammoCoatings.ammoCoating4.ammoName}}">
                        </td>
                        <td>
                            <textarea class="altair-Effect-Desc"
                                name="system.ammoCoatings.ammoCoating4.ammoEffect">{{system.ammoCoatings.ammoCoating4.ammoEffect}}</textarea>
                        </td>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating4.ammoStock.value" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating4.ammoStock.value}}">
                            <input name="system.ammoCoatings.ammoCoating4.ammoStock.max" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating4.ammoStock.max}}">
                        </td>
                    </tr>
                    <!-- Ammo/Coating #5 -->
                    <tr>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating5.ammoName" type="text"
                                value="{{system.ammoCoatings.ammoCoating5.ammoName}}">
                        </td>
                        <td>
                            <textarea class="altair-Effect-Desc"
                                name="system.ammoCoatings.ammoCoating5.ammoEffect">{{system.ammoCoatings.ammoCoating5.ammoEffect}}</textarea>
                        </td>
                        <td>
                            <input name="system.ammoCoatings.ammoCoating5.ammoStock.value" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating5.ammoStock.value}}">
                            <input name="system.ammoCoatings.ammoCoating5.ammoStock.max" type="number"
                                data-dtype="Number" value="{{system.ammoCoatings.ammoCoating5.ammoStock.max}}">
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
    <br>
    <!-- Reserve Skills Section -->
    <section class="altair-skill-type outer-container">
        <h2>{{localize "altair.reserveSkills.reserveSkills"}}</h2>
        <table class="reserve-skills-table">
            <!-- for width -->
            <colgroup>
                <col class="col-skillName" />
                <col class="col-skillEffect" />
                <col class="col-skillCooldown" />
                <col class="col-onCooldown" />
            </colgroup>
            <thead>
                <tr>
                    <th>{{localize "altair.general.skillName"}}</th>
                    <th>{{localize "altair.general.effect"}}</th>
                    <th>{{localize "altair.general.dualCooldown"}}</th>
                    <th>{{localize "altair.general.onCooldown"}}</th>
                </tr>
            </thead>
            <tbody>
                <!-- Skill #1 -->
                <tr>
                    <td>
                        <input name="system.reserveSkill.reserveSkill1.skillName" type="text"
                            value="{{system.reserveSkill.reserveSkill1.skillName}}">
                    </td>
                    <td>
                        <textarea class="altair-Effect-Desc"
                            name="system.reserveSkill.reserveSkill1.skillEffect">{{system.reserveSkill.reserveSkill1.skillEffect}}</textarea>
                    </td>
                    <td>
                        <input name="system.reserveSkill.reserveSkill1.skillRoundCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill1.skillRoundCooldown}}">
                        <input name="system.reserveSkill.reserveSkill1.skillTimeCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill1.skillTimeCooldown}}">
                    </td>
                    <td style="text-align: center;">
                        <input name="system.reserveSkill.reserveSkill1.onCooldown" type="checkbox" {{checked
                            system.reserveSkill.reserveSkill1.onCooldown}}>
                    </td>
                </tr>
                <!-- Skill #2 -->
                <tr>
                    <td>
                        <input name="system.reserveSkill.reserveSkill2.skillName" type="text"
                            value="{{system.reserveSkill.reserveSkill2.skillName}}">
                    </td>
                    <td>
                        <textarea class="altair-Effect-Desc"
                            name="system.reserveSkill.reserveSkill2.skillEffect">{{system.reserveSkill.reserveSkill2.skillEffect}}</textarea>
                    </td>
                    <td>
                        <input name="system.reserveSkill.reserveSkill2.skillRoundCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill2.skillRoundCooldown}}">
                        <input name="system.reserveSkill.reserveSkill2.skillTimeCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill2.skillTimeCooldown}}">
                    </td>
                    <td style="text-align: center;">
                        <input name="system.reserveSkill.reserveSkill2.onCooldown" type="checkbox" {{checked
                            system.reserveSkill.reserveSkill2.onCooldown}}>
                    </td>
                </tr>
                <!-- Skill #3 -->
                <tr>
                    <td>
                        <input name="system.reserveSkill.reserveSkill3.skillName" type="text"
                            value="{{system.reserveSkill.reserveSkill3.skillName}}">
                    </td>
                    <td>
                        <textarea class="altair-Effect-Desc"
                            name="system.reserveSkill.reserveSkill3.skillEffect">{{system.reserveSkill.reserveSkill3.skillEffect}}</textarea>
                    </td>
                    <td>
                        <input name="system.reserveSkill.reserveSkill3.skillRoundCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill3.skillRoundCooldown}}">
                        <input name="system.reserveSkill.reserveSkill3.skillTimeCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill3.skillTimeCooldown}}">
                    </td>
                    <td style="text-align: center;">
                        <input name="system.reserveSkill.reserveSkill3.onCooldown" type="checkbox" {{checked
                            system.reserveSkill.reserveSkill3.onCooldown}}>
                    </td>
                </tr>
                <!-- Skill #4 -->
                <tr>
                    <td>
                        <input name="system.reserveSkill.reserveSkill4.skillName" type="text"
                            value="{{system.reserveSkill.reserveSkill4.skillName}}">
                    </td>
                    <td>
                        <textarea class="altair-Effect-Desc"
                            name="system.reserveSkill.reserveSkill4.skillEffect">{{system.reserveSkill.reserveSkill4.skillEffect}}</textarea>
                    </td>
                    <td>
                        <input name="system.reserveSkill.reserveSkill4.skillRoundCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill4.skillRoundCooldown}}">
                        <input name="system.reserveSkill.reserveSkill4.skillTimeCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill4.skillTimeCooldown}}">
                    </td>
                    <td style="text-align: center;">
                        <input name="system.reserveSkill.reserveSkill4.onCooldown" type="checkbox" {{checked
                            system.reserveSkill.reserveSkill4.onCooldown}}>
                    </td>
                </tr>
                <!-- Skill #5 -->
                <tr>
                    <td>
                        <input name="system.reserveSkill.reserveSkill5.skillName" type="text"
                            value="{{system.reserveSkill.reserveSkill5.skillName}}">
                    </td>
                    <td>
                        <textarea class="altair-Effect-Desc"
                            name="system.reserveSkill.reserveSkill5.skillEffect">{{system.reserveSkill.reserveSkill5.skillEffect}}</textarea>
                    </td>
                    <td>
                        <input name="system.reserveSkill.reserveSkill5.skillRoundCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill5.skillRoundCooldown}}">
                        <input name="system.reserveSkill.reserveSkill5.skillTimeCooldown" type="text"
                            value="{{system.reserveSkill.reserveSkill5.skillTimeCooldown}}">
                    </td>
                    <td style="text-align: center;">
                        <input name="system.reserveSkill.reserveSkill5.onCooldown" type="checkbox" {{checked
                            system.reserveSkill.reserveSkill5.onCooldown}}>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <br>


    <!-- we never really used this lol -->
    <label for="bio">{{localize "altair.characterInfo.bio"}}</label>
    <section class="form-group altair-bio">
        <textarea id="bio" name="system.bio">{{system.bio}}</textarea>
    </section>

</section>